.bg {
  background-image: url("../assets/images/Graphic Side.png");
  background-size: cover;
}

.logo {
  background-image: url("../assets/images/Logo.png");
  background-position: top right;
  background-repeat: no-repeat;
}
